body{
	font-family: Verdana, Tahoma, Arial;
}

#tabuleiro{
	width:400px;
	height:400px;
	border:solid 1px;
}

.linha{	
	height:50px;
}

.casa{
	width:50px;
	height:100%;	
	float:left;
	cursor: pointer;
}

.casa_branca{
	background-color: #FFF;
}

.casa_preta{
	background-color: #000;
}

.casa_selecionada{
	background-color: #FF0000;
}

#info li span{
	color: blue;
	font-weight: bold;
}